
#accountDetails{
    color: #636363;
    margin-left: 15%;
    margin-top: 40px;
}

.transactionsWrapper{
    color: #636363;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    width: 50%;
    min-width: 200px;
    margin-bottom: 100px;
    border-top: 1px;
    border-style: solid;
    border-color: gray;
}

#transactions{
    overflow-y: scroll;
    width:100%;
    height: 300px;
}

.flexWrapper{
    padding-top: 15px;
    display: flex;
    justify-content: space-evenly;
}

.registerFieldsWrapper {
  width:100%;
  padding: 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.detailHeader{
    text-align: center;
}

.accountDetails{
    height:50px;
}

.transInputs {
    padding-left: 50px;
}

.transOption{
    display: flex;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

::-webkit-scrollbar {
  width: 3px; 
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navBarElement {
  float: left;
}

.navBarElement a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navBarElement a:hover {
  background-color: #111;
}